main{
    width : 841px;
    margin : auto;
    font-family: 'Arial';
    text-align: justify;
    float : center;

}

.Photo{
    float :left;
}

aside{
    float :left;
    border: 2px solid red;
  box-shadow: 5px 5px 5px black;
  border-radius: 10px 5px 10px 5px;
  padding : 20px;
  
}

.Titre{
    text-align: center;
  color: red;
  animation-name: titreanim;
  animation-duration: 10s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

@keyframes titreanim {
    0% {color: red;}
    45% {color: yellow;}
    90%{color:blue}
    100%{color: red;}

    
  }

.corp{
    width: 550px;
    height: 600px;
    float :right;
    display:flex;
    text-align: justify;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    
    text-align: justify;
  
}


#Expérience h3{
    color: cadetblue;
}
#Expérience .Élément{
    color: cadetblue;
    text-decoration: underline;
}

#Formation h3{
    color: tomato;
}

#Formation .Élément{
    color: tomato;
    text-decoration: underline;
}

#Compétences .Élément{
    color: rebeccapurple;
    text-decoration: underline;
}
#Compétences h3{
    color: rebeccapurple;

}

#Centresintérêt h3{
    color:cornflowerblue;
    text-align: center;
}



h3{
    text-align: center;
}

